<div class="login">
  <h2 class="text-center"></i>Iniciar</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email,:label => false, :placeholder =>"Correo electrónico", :autofocus => true %>
  <%= f.input :password, :label => false, :placeholder =>"Contraseña" %>
  <%= f.input :remember_me, :label => false,:inline_label => "Recordame", :as => :boolean if devise_mapping.rememberable? %>
  <div class="sublogin">
	<p><%= f.button :submit, "Iniciar", :class => 'btn-primary' %></p>
	<% end %>
	<p><%= render "devise/shared/links" %></p>
  </div>
</div>
