<div class="brand"><i class="icon-home"></i></div>
<%= link_to "ESIS", root_path, :class => 'brand'%>
<ul class="nav pull-right">
  <li><%= link_to "Quiénes Somos"%></li>
  <li><%= link_to "Investigaciones"%></li>
  <li><%= link_to "Trámites"%></li>
  <li>		
	<form class="navbar-search" action="/artists/search">
		<input class="search-query input-medium" type="text" name="q" placeholder="buscar">
			<i class="icon-search icon-white"></i>
		</input>
	</form>
  </li>
  <li class="divider-vertical"></li>	
  <% if user_signed_in? %>
  <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	<i class="icon-user icon-white"></i>
    <%= current_user.codigo %>
	<b class="caret"></b></a>
	<ul class="dropdown-menu"> 	  
	  <li><%= link_to 'Editar cuenta',new_estudiante_path(@user) %></li>
	  <li><%= link_to "Configurar Privacidad", edit_user_registration_path %></li>
	  <li><%= link_to "Ayuda" %></li>
	  <li class="divider"></li>	  
	  <% if current_user.has_role? :admin %>
      <li><%= link_to 'Admin',users_path %></li>
	  <li class="divider"></li>
	  <% end %>	
	  <li><%= link_to 'Cerrar sesión', destroy_user_session_path, :method=>'delete' %></li>	    
	</ul>
  </li>
  <% else %>
  <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>	
  <% end %> 
</ul>
