<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Esis" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ESIS" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "admins" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div> </nav>
    </div>
    <header>
		<div class="row-fluid">
			<div class="span2"><%= image_tag("unjbg.png", size:"150x204") %></div>
			<div class="span8">
				<h1>Facultad de Ingeniería</h1>
				<h2>Escuela Académico Profesional de Ingeniería en Informática y Sistemas</h2>						
			</div>
			<div class="span2"><%= image_tag("esis.png") %></div>
		</div>
	</header>
    <div id="main" role="academico">
      <div class="container">
        <div class="content">
			<div class="row-fluid">
                <section>
                    <div class="span3">
                        <div class="well sidebar-nav">
                            <ul class="nav nav-list">
                                <li class="nav-header">ACTIVIDADES ESIS</li>
                                <li class="active"><%= link_to "Comunicados" %></li>
                                <li class="nav-header">Administración</li>
                                <li><%= link_to "Estudiantes", academico_encuestas_path %></li>
                                <li><%= link_to "Profesores" %></li>
                                <li><%= link_to "Administrativos" %></li>
                                <li><%= link_to "Trámites" %></li>
                                <li><%= link_to "Roles" %></li>
                                <li class="nav-header">Reportes</li>
                                <li><%= link_to "Gráficos estadísticos" %></li>
                                <li><%= link_to "Generar documentos" %></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="span9">
                        <div class="hero-unit">
                            <%= render 'layouts/messages' %>
                            <%= yield %>
                        </div>
                    </div>
                </section>
            </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <footer>
		<div class="container">
			<h4>Contactenos</h4>
			<p>Escuela Académico Profesional de Informatica y sistemas</p>	
			<p>Ciudad Universitaria - Av. Miraflores S/N - Central Telefónica: 51-52-583000</p>
			<p>Tacna - PERÚ</p> 
		</div>
    </footer>
  </body>
</html>
