<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Esis" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ESIS" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div class="header">
        <div class="container">	
			<div class="span2"><%= image_tag("unjbg.png", size:"150x204") %></div>
			<div class="span7">
				<h3>Escuela Académico Profesional de Ingeniería en Informática y Sistemas</h3>						
			</div>
            <div class="span2"><%= image_tag("esis.png") %></div>
		</div>
	</div>
    <div id="main" role="main">
      <div class="container">        
        <div class="content">
			<div class="row-fluid">
            <section>
				<div class="span2">
					<ul class="nav nav-list">
						<li class="nav-header">ACTIVIDADES ESIS</li>
						<li class="active"><%= link_to "Novedades" %></li>
						<li><%= link_to "Encuestas" %></li>
						<li><%= link_to "Trámites" %></li>
						<li><%= link_to "Ingresantes" %></li>
						<li><%= link_to "Egresados" %></li>
						<li class="nav-header">MATERIAL ACADÉMICO</li>
						<li><%= link_to "Modelos de tesis" %></li>
						<li><%= link_to "Software" %></li>
						<li><%= link_to "Libros" %></li>
						<li><%= link_to "Videos" %></li>
						<li><%= link_to "Web" %></li>
						<li class="nav-header">COMUNIDADES</li>
						<li><%= link_to "Basadrinux" %></li>
						<li><%= link_to "Basadre.net" %></li>
					</ul>
				</div>
            </section>
            <section>
				<div class="span10 hero-unit">
					<%= render 'layouts/messages' %>
					<%= yield %>
				</div> 
            </section>
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <footer>
        <h4>Contactenos</h4>
        <p>Escuela Académico Profesional de Informatica y sistemas</p>	
        <p>Ciudad Universitaria - Av. Miraflores S/N - Central Telefónica: 51-52-583000</p>
        <p>Tacna - PERÚ</p> 
    </footer>
  </body>
</html>
